[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
requests = "*"
random-word = "*"
pillow = "*"
aiohttp = "*"
pytelegrambotapi = "*"

[dev-packages]

[requires]
python_version = "3.10"
